/* Giving padding, position-relative and min-height to heor section of the page */
.hero {
    padding-top: 120px;
    position: relative;
    min-height: auto;
}

/* Adding background color when light mode of the website is chosen */
/* .hero.light-mode{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 45%, rgba(138,137,24,0.9766500350140056) 100%);
} */

/* Adding the below color to the text "Neha Himesh" in the hero section */
.hero .highlight {
    color: #64adaf;
}

/* Adding text shadow, seeting font size and wieght to the main heading of the page which is in hero section */
.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

/* Setting font size of the paragraph element and h2 element in hero section */
.hero h2,p{
    font-size: 1.5rem;
}

/* Added animation to the description in hero section such that it creates a typing effect when the text is loaded */
.typing-effect {
    display: inline-block;
    font-size: 1.5rem;
    font-style: italic;
    /* border-right: 5px solid white; */
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap; 
    color: #dcee00;
}
/* Creating custom made animation called typing which incrases width from 0 to 100 and displays text in typing style */
@keyframes typing {
    from { 
        width: 0; 
    }
    to{
        width: 100%;
    }
}

 /* Creating a bounceIn animation effect for the description of the person for a duration of 2 seconds after a delay of 2 seconds */
 .details{
    animation: bounceIn;
    animation-duration: 2s;
    animation-delay: 2s;
 }

 /* Creating a pulse animation for the profile image for a duration of 4 seconds infinite number of times */
.animate-image{
    animation: pulse 4s infinite;
}

/* Creating an animation of enlarging the button when hovered on the download button */
#download-button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
} 

/* Changing the color of the icon and arrow to white from black and adding padding of 3px to the bottom */
#download-arrow, #new-tab-icon{
    filter: invert(1);
    padding-bottom: 3px;
}