.hero {
    padding-top: 120px;
    position: relative;
    min-height: auto
}

 .hero .highlight {
    color: #64adaf;
}
.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.hero h2,p{
    font-size: 1.5rem;
}
.typing-effect {
    display: inline-block;
    font-size: 1.5rem;
    font-style: italic;
    border-right: 5px solid;
    overflow: hidden;
    border-color: white;
    white-space: nowrap;
    color: #dcee00;
    animation: 
        typing 2s steps(67) ,
        cursor 0.4s step-end infinite alternate;
    animation-delay: 0s;
}
@keyframes typing {
    from { 
        width: 0; 
    }
    to{
        width: 100%;
    }
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
 }
 .details{
    animation: bounceIn;
    animation-duration: 2s;
    animation-delay: 2s;
 }

.animate-image{
    animation: pulse 4s infinite;

}
#download-button:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
#download-arrow{
    filter: invert(1);
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }
}