@import url('./hero.css');
@import url('./about.css');
@import url('./education-experience-internships.css');
@import url('./navbar.css');
@import url('./projects.css');
@import url('./skills.css');
@import url('./contact-details.css');

body{
    font-family: 'Poppins', sans-serif;
}
.dark-mode {
    background: rgb(36, 34, 34);
    color: white !important;
}
.light-mode{
    background:white;
    color: black !important;
}
/* .dark-mode {
    background-color: #222;
    color: white;
} */
.dark-mode .navbar {
    background-color: #111;
}
.dark-mode .btn-primary {
    background-color: #ffcc00;
}
#darkModeToggle{
    color: #ffffff8c;
}
h2{
    font-size: 3rem;
    color: #00f4bf;
    font-weight: 600;
}
.m-5{
    margin: 4rem important;
}
